@import url('https://fonts.googleapis.com/css?family=Exo:400,700');


span{
  color: rgb(234, 197, 11);
}


.container {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  
}

* {
  margin: 0;
  padding: 0;

}
html, body {
  overflow-x: hidden;
  }
  body {
  position: relative;}

body {
  font-family: 'Exo', sans-serif;
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  overflow: hidden; /* Disable scrolling on all devices */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}html{
  height: 100%;
}

.context {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1; /* Set your desired background color */
}

form {
  max-width: 400px;
  width: 80%;
  padding: 30px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}


.error {
  position: absolute;
  top: 40vh;
  left:43%;

  width: 100%;
  color: #f2f2f2;
  font-size: 25px;
  font-weight: bold;

}
@media (max-width: 768px) {
  .error {
    top: 40vh;
    left:30%;
    font-size: 18px;
    position: relative;
  }
}


form input[type='url'] {
  display: block;
  width: 90%;
  padding: 12px;
  margin:auto;
  border: 2px solid #3f51b5;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 20px;
  transition: border-color 0.3s ease-in-out;
}

form input[type='url']:focus {
  outline: none;
 border-color: #8f94fb;
}

form input[type='submit'] {
  display: block;
  width: 30%;
  padding:14px;
  margin:auto;
  background-color: rgb(234, 197, 11);
  color: rgb(88, 83, 83);
  border: 0;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

form input[type='submit']:hover {
  background-color: #4e54c8;
  color:white;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1; /* Set your desired background color */
}

.short-url {
  text-align: center;
  max-width: 400px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Add some margin between the form and short-url elements */
}
/* For screens up to 768px */
@media (max-width: 768px) {
  .short-url {
    width: 95%; /* Adjust the width to 95% on mobile devices */
    padding: 15px; /* Add padding to the element */
    box-sizing: border-box; /* Include padding and border in the total width of the element */
    position: absolute; /* Change position to absolute */
    top: 50%;
    left: 50%;
    margin-top: 120px;
    transform: translate(-50%, -50%); /* Center the element using translate */
    background-color: #fff; /* Add background color for visibility */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}



.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}





html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}